<!doctype html>


<html lang="en">
<head>
	{% load static %}
    
	
	
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>PyTeal Checker</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Jakob Richert" />
	<!-- Favicon  -->
	<style>
		.header-hero-area.site-breadcrumb-header {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom:2%;
	position:relative;
}

.header-hero-area {
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom:10%;
	position:relative;
}





</style>
	
	<link rel="shortcut icon" href="{% static 'mainapp/img/favicon.png' %}">
	<!-- CSS File  -->
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/boxicons.min.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/magnific-popup.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/animate.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/meanmenu.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/splitting-cells.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/splitting.css' %}">
  <link rel="stylesheet" type= "text/css" href="{% static 'mainapp/css/style.css' %}">
  <link rel="stylesheet" type = "text/css" href="{% static 'mainapp/css/responsive.css' %}">
	<!-- End CSS File  -->  
    

</head>
<body>
		

			<div>	<!-- Main Menu Area -->
				<center>
					<h1><span style="color: #000000">Py</span></span><span style="color: #008080">Teal</span><span style="color: #000000">Checker </span></h1>	
					</center>
					
					
					<div class="main-menu d-flex align-items-center">
						
						<div class="menu ml-auto d-flex">
							<nav class="navigation" id="mobile-menu">
								<ul class="menu-list list-style-none mb-0">
									
									<li><a href='index' style="color:#000000">Home</a></li>
									<li><a href='best' style="color:#000000">Best Practices</a></li>
									<li><a href='about' style="color:#000000">About</a></li>
						
								
									
								
								</ul>
							</nav>
							
						
						
						<!-- Responsive Menu -->
						<div class=""></div>
					</div>
					<div class="">
						<span class="line line-1"></span>
						<span class="line line-2"></span>
						<span class="line line-3"></span>
					</div> <!-- responsive menu icon -->
				</div> <!-- end container -->
			</div>	<!-- end main menu area -->
	
		
		<div id="hero-slider-area" class="header-hero-area site-breadcrumb-header fix"> <!-- start header banner -->
			
			<!-- Start Breadcrumb
			============================================= -->
			
			
			<!-- End  Breadcrumb -->				
		</div>
		
			<div ><!-- start contact area -->
				
					<div class="align-items-center "><!-- start row -->
						<div class=""><!-- start col-6 -->
						</div><!-- end col-6 -->
						<div class=""><!-- start col-6 -->
							<div class="text-left wow fadeInDown" data-wow-duration=".4s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 0.4s; animation-delay: 0.4s;margin-top: 50px">
								<div class="form-title pt-30">
                                    <p> <span class="span-color">This page will act as a blog that focuses on the best practices of
                                        PyTeal smart contract development. There may even be a way to incorporate DAO voting for 
                                        the official best practices of a smart contract. Another idea would be to issue an algorand
                                        based token to smart contracts that meet the best practices as voted on by the DAO.
                                        <p>
                                    <p> <span class="span-color">One case of a best practice is outlined in this code from 
                                        https://pyteal.readthedocs.io/en/stable/examples.html
                                        # configure the admin status of the account Txn.accounts[1]
                                        # sender must be admin
                                        new_admin_status = Btoi(Txn.application_args[1])
                                        set_admin = Seq(
                                            [
                                                Assert(And(is_admin, Txn.application_args.length() == Int(2))),
                                                App.localPut(Int(1), Bytes("admin"), new_admin_status),
                                                Return(Int(1)),
                                            ]
                                        )
                                        # NOTE: The above set_admin code is carefully constructed. If instead we used the following code:
                                        # Seq([
                                        #     Assert(Txn.application_args.length() == Int(2)),
                                        #     App.localPut(Int(1), Bytes("admin"), new_admin_status),
                                        #     Return(is_admin)
                                        # ])
                                        # It would be vulnerable to the following attack: a sender passes in their own address as
                                        # Txn.accounts[1], so then the line App.localPut(Int(1), Bytes("admin"), new_admin_status)
                                        # changes the sender's admin status, meaning the final Return(is_admin) can return anything the
                                        # sender wants. This allows anyone to become an admin! </p>
                                    
                                
                                
                                    </div>
								
										</div>                          
									</div>
									<div class="">
									</div>
								</div>					
							</div>
						</div><!-- end col-6 -->
					</div><!-- end row -->
				
			</div><!-- end contact area -->
			
			<div id=""> <!-- start why area -->
				<div> <!-- start container -->
					<div class="row pt-100"> <!-- start row -->
						<div class="col-md-3 col-sm-6 mb-30"> <!-- start col-3 -->
							<div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">
								<div>
									<a href="https://github.com/jakobrichert"><img src="{% static 'mainapp/img/GitHub-Mark-64px.png' %}"></a>
								</div>
								
							</div>
						</div> <!-- end col-3 -->
						<div class="col-md-3 col-sm-6 mb-30"> <!-- start col-3 -->
							<div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.4s;">
								<div>
									<a href="https://discord.gg/algorand/"><img src="https://img.icons8.com/ios-filled/50/000000/discord-logo.png"></a>
								</div>
								
							</div>
						</div> <!-- end col-3 -->
						<div class="col-md-3 col-sm-6 mb-30"> <!-- start col-3 -->
							<div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.6s;">
								<div>
									<a href="https://gitcoin.co/issue/algorandfoundation/grow-algorand/132/100027512"><img src="https://s.gitcoin.co/gitcoinco.svg"></a>
								</div>
							
							</div>
						</div> <!-- end col-3 -->
						<div class="col-md-3 col-sm-6 mb-30"> <!-- start col-3 -->
							<div class="text-center wow fadeInUp" data-wow-duration="1s" data-wow-delay=".9s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.9s;">
								<div>
									<a href="https://www.algorand.com/"><img src="{% static 'mainapp/img/favicon.png' %}"></a>
								</div>
								
							</div>
						</div> <!-- end col-3 -->
					</div> <!-- end row -->
				</div> <!-- end container -->
			</div> <!-- end why area  -->
	</div>
			
<!-- Start JS File -->	
 <script src="{% static 'mainapp/js/main.js' %}"></script>
 <script src="{% static 'mainapp/js/modernizr-3.8.0.min.js' %}"></script>
 <script src="{% static 'mainapp/js/jquery-3.6.0.min.js' %}"></script>
 <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
 <script src="{% static 'mainapp/js/popper.min.js' %}"></script>
 <script src="{% static 'mainapp/js/jquery.appear.min.js' %}"></script>
 <script src="{% static 'mainapp/js/owl.carousel.min.js' %}"></script>
 <script src="{% static 'mainapp/js/jquery.magnific-popup.min.js' %}"></script>
 <script src="{% static 'mainapp/js/jquery.waypoints.min.js' %}"></script> 
 <script src="{% static 'mainapp/js/wow.js' %}"></script>  
 <script src="{% static 'mainapp/js/splitting-animation.js' %}"></script>
 <script src="{% static 'mainapp/js/splitting.min.js' %}"></script>
 <script src="{% static 'mainapp/js/multi-countdown.js' %}"></script>
 <script src="{% static 'mainapp/js/jquery.meanmenu.min.js' %}"></script>
  <!-- End JS File --> 
    
</body>
</html>
